@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our introductory project of ASP.NET Core MVC Framework</h1>
    <p>Course <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/">OOP with C#</a>.</p>
</div>