@model SalesWebMvc.Models.ViewModels.SellerFormViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.Id" />
            <div class="mt-2 mb-2">
                <label asp-for="Seller.Name" class="form-label mt-1 mb-1"></label>
                <input asp-for="Seller.Name" class="form-control mt-1 mb-1" />
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
            </div>
            <div class="mt-2 mb-2">
                <label asp-for="Seller.Email" class="form-label mt-1 mb-1"></label>
                <input asp-for="Seller.Email" class="form-control mt-1 mb-1" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
            </div>
            <div class="mt-2 mb-2">
                <label asp-for="Seller.BirthDate" class="form-label mt-1 mb-1"></label>
                <input asp-for="Seller.BirthDate" class="form-control mt-1 mb-1" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
            </div>
            <div class="mt-2 mb-2">
                <label asp-for="Seller.BaseSalary" class="form-label mt-1 mb-1"></label>
                <input asp-for="Seller.BaseSalary" class="form-control mt-1 mb-1" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
            </div>
            <div class="mt-2 mb-2">
                <label asp-for="Seller.DepartmentId" class="form-label mt-1 mb-1"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-select mt-1 mb-1"></select>
            </div>
            <div class="btn-group mt-2 mb-2">
                <input type="submit" value="Save" class="btn btn-primary mt-1 mb-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}