﻿@{
ViewData["Title"] = "Sales Records";
}

<h2>@ViewData["Title"]</h2>
<div class="row mt-4 mb-4">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="SimpleSearch">
            <fieldset>
                <legend>Simple search</legend>
                <div class="mt-2 mb-2">
                    <label for="minDate" class="col-lg-2 form-label mt-1 mb-1">Min Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="minDate" class="form-control mt-1 mb-1" />
                    </div>
                </div>
                <div class="mt-2 mb-2">
                    <label for="maxDate" class="col-lg-2 form-label mt-1 mb-1">Max Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxDate" class="form-control mt-1 mb-1" />
                    </div>
                </div>
                <div class="mt-2 mb-2">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row mt-4 mb-4">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="GroupingSearch">
            <fieldset>
                <legend>Grouping search</legend>
                <div class="mt-2 mb-2">
                    <label for="minDate" class="col-lg-2 form-label mt-1 mb-1">Min Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="minDate" class="form-control mt-1 mb-1" />
                    </div>
                </div>
                <div class="mt-2 mb-2">
                    <label for="maxDate" class="col-lg-2 form-label mt-1 mb-1">Max Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxDate" class="form-control mt-1 mb-1" />
                    </div>
                </div>
                <div class="mt-2 mb-2">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>